body, html {
    height: 100%;
}
  
.bg {
    background-image: url("pexels-lumn-406014.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
   text-align: center;
   padding-top: 10%;
}